:root {
    
    --basic-black: #000000;
    --light-black: #283136;
    --basic-white: #ffffff;
    --basic-neutral: #eeeeee;
    --basic-dark: #666666;
    --basic-strong-dark: #4d4d4d;

    --special-red: #fb565A;
    --special-green: #00ca74;
    --special-yellow: #efc849;
}

body {
    min-width: 1260px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
    background-image: none;
    background-position: top center;
    background-repeat: no-repeat;
}

.page a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
}
  
.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}
  
  /* User navigation */
  
  
.site-navigation a,
.shoping-basket-link a {
    color: var(--basic-black);
}
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .shoping-basket-link a:hover,
  .shoping-basket-link a:focus {
    background-color: var(--special-red);
}

.list-styles-reset {
  margin: 0;
  padding: 0; 
  list-style: none;
}

  

