:root {
    
    --basic-black: #000000;
    --light-black: #283136;
    --basic-white: #ffffff;
    --basic-neutral: #EEEEEE;
    --basic-dark: #666666;
    --basic-strong-dark: #4D4D4D;

    --special-red: #FB565A;
    --special-green: #00CA74;
    --special-yellow :#EFC849;
}

body {
    min-width: 1260px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
    background-image: none;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent;
  }
  
  .site-navigation {
    list-style: none;
  }

  .site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
  }
  
  /* User navigation */
  
  
  .site-navigation a,
  .shoping-basket-link a {
    color: transparent;
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .shoping-basket-link a:hover,
  .shoping-basket-link a:focus {
    background-color: var(--special-red);
  }

  

